@model DriveNow.Models.Cliente
@{
    ViewBag.Title = "Novo Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Erro != null)
{
    <div class="alerta erro" style="margin:20px 30px 0;">&#9888; @ViewBag.Erro</div>
}

<div class="form-wrap">
    @using (Html.BeginForm("Novo", "Clientes", FormMethod.Post))
    {
        <div class="form-linha">
            <div class="form-grupo">
                <label>Nome completo *</label>
                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", placeholder = "Nome do cliente" })
            </div>
            <div class="form-grupo">
                <label>CPF *</label>
                @Html.TextBoxFor(m => m.Cpf, new {
                    @class     = "form-control",
                    placeholder = "000.000.000-00",
                    maxlength  = "14",
                    oninput    = "mascaraCpf(this)"
                })
            </div>
        </div>

        <div class="form-linha">
            <div class="form-grupo">
                <label>Telefone</label>
                @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control", placeholder = "(11) 99999-9999" })
            </div>
            <div class="form-grupo">
                <label>Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "email@exemplo.com" })
            </div>
        </div>

        <div class="form-grupo">
            <label>Endereco</label>
            @Html.TextBoxFor(m => m.Endereco, new { @class = "form-control", placeholder = "Rua, numero, bairro, cidade/UF" })
        </div>

        <div class="form-grupo">
            <label>Numero da CNH</label>
            @Html.TextBoxFor(m => m.Cnh, new { @class = "form-control", placeholder = "Numero da CNH" })
        </div>

        <div class="form-botoes">
            <button type="submit" class="btn btn-primario">Salvar Cliente</button>
            <a href="/Clientes/Index" class="btn btn-secundario">Cancelar</a>
        </div>
    }
</div>
